name: Modify Noto CJK

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Get fonts
        run: |
          mkdir ./fonts
          cd ./fonts
          for link in $(echo ${{ vars.FONT_LINKS }}); do
            curl -OL $link
          done
          ls

      # https://github.com/fonttools/unicodedata2/issues/52
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.10'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'

      - name: Install Pipx
        run: |
          python -m pip install --user pipx===1.2.0
          python -m pipx ensurepath

      - name: Install east-asian-spacing
        run: pipx install east-asian-spacing===1.4.2

      - name: Patch chws, vchw, halt and vhal by east-asian-spacing
        run: east-asian-spacing -o ./eas ./fonts/*

      - name: Checkout nototools repo
        uses: actions/checkout@v3
        with:
          repository: notofonts/nototools
          ref: v0.2.17
          path: './nototools'

      - name: Install notofonttools
        run: |
          cd ./nototools
          pip install -r requirements.txt
          pip install -e .

      - name: Get subset_fonts.py
        uses: actions/checkout@v3
        with:
          path: './subset-script'
          sparse-checkout: |
            scripts/subset_fonts.py
          sparse-checkout-cone-mode: false

      # Modified from: https://cs.android.com/android/platform/superproject/main/+/main:external/noto-fonts/scripts/subset_noto_cjk.py;drc=d8536c6637d9506ccd8ffb09810ceb7e864e20d8
      - name: Patch for Android
        run: python ./subset-script/scripts/subset_fonts.py -o ./subset4android ./eas/*

      # afdko install by nototools https://github.com/notofonts/nototools/blob/cd79db632c9a506ad61ae72bfad5875341ca56b8/requirements.txt#L1
      - name: Read fonts in .ttc
        run: |
          for file in ./subset4android/*.ttc; do
            otc2otf -r $file | grep Font > $file-font-list.txt
            echo $file-font-list.txt
            cat $file-font-list.txt
          done

      # fonttools install by nototools https://github.com/notofonts/nototools/blob/cd79db632c9a506ad61ae72bfad5875341ca56b8/requirements.txt#L13
      - name: Output tables of name, OS/2 and fvar
        run: |
          ls -1 -I "*-font-list.txt" -I "*.ttx" ./subset4android/ | while read file; do
            if [[ "$file" == *.ttc ]]; then
              for INDEX in $(seq 0 $(($(wc -l < ./subset4android/$file-font-list.txt) - 1))); do
                ttx -y $INDEX -t name -t OS/2 -t fvar -o ./subset4android/$file-$INDEX.ttx ./subset4android/$file
              done
            else
              ttx -t name -t OS/2 -t fvar ./subset4android/$file
            fi
          done
          ls ./subset4android/

      - uses: actions/upload-artifact@v3
        with:
          name: fonts
          path: ./subset4android/

  push:

    needs: build

    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write
    
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - uses: actions/download-artifact@v3
        with:
          name: fonts
          path: ${{ vars.FONT_DIR }}

      - name: Push new fonts
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update fonts ${{ vars.FONT_DIR }}

      - uses: geekyeggo/delete-artifact@v2
        with:
          name: fonts
          failOnError: false
